<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-md-5">-->
      <!--<div class="form-group">-->
        <!--<label>Filter</label>-->
        <!--<input  name='firstName' type="text" class="form-control mb-2">-->
        <!--<button class="btn btn-primary">Filter</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="card col-md-4" *ngFor="let gallery of galleries">
      <img style="height: 280px; width: 100%; display: block;" src="{{ gallery.images[0].url }}" data-holder-rendered="true">
      <h5><a  routerLink="/gallery/{{ gallery.id }}">{{ gallery.name }}</a></h5>
      <span><a routerLink="/author/{{ gallery.user.id }}">{{ gallery.user.first_name + ' ' + gallery.user.last_name }}</a></span>
    </div>
  </div>

</div>
